.wrapper{
    display: grid;
    /* grid-template-columns: 1fr 2fr 1fr;*/
    /* grid-template-columns: 1fr 1fr 1fr;*/
    grid-template-columns: repeat(3,1fr);
    grid-gap: 1em;
    /*grid-auto-rows: 100px;*/
   
    grid-auto-rows: minmax(100px, auto);
    grid-auto-columns: minmax(100px, auto);

   
    display: flex;    /**/
    justify-content: center;
    align-items: center;

    align-self: center;


/*    margin-top: 190px;
*/

/*    border: solid 1px black;    */
}

.wrapper div{
    margin-top: auto;

    padding: 1em;
    width: 80%;

    align-self: center;

/*    border: solid 1px black;    */
}
/*
.wrapper div:nth-child(odd){
    background: white;
}
*/

.wrapper .nested{
    display: grid;
    grid-template-columns: repeat(1,1fr);
    grid-auto-rows: 70px;
    grid-gap: 1em;  
    
    box-sizing: border-box;

    align-self: center;


    margin-top: 190px;

    /*
    align-self: center;
    */
}

.nested div{
/*    background: indigo; */


    border: solid 1px black;   

/*

    border: solid 1px black;    

      padding: 1em;
         
    box-sizing: border-box;
    height: 300px;
    width: 120px;  
*/  
    align-self: center;
}

.wrapper .nested_0 div{
    /*    background: indigo; */
    
    
    border: solid 1px black;
    
    /*
    
        border: solid 1px black;    
    
          padding: 1em;
             
        box-sizing: border-box;
        height: 300px;
        width: 120px;  
    */  
        align-self: center;
    }

/*
    .wrapper .nested_0{ 
        display: grid;
        grid-template-columns: repeat(1,1fr);
        grid-auto-rows: 70px;
        grid-gap: 1em;  
        
        box-sizing: border-box;
    
        align-self: center;
    
    
        margin-top: 190px;

    }
*/

    
    .wrapper .nested_0{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        grid-auto-rows: 70px;
        grid-gap: 1em;  
        
        box-sizing: border-box;
    
        align-self: center;


        display: flex;    /**/
        justify-content: center;
        align-items: center;
    
        align-self: center;

    }
.wrapper .nested_0 img{
    height: 100;
}

#navbar{
    background-color: blue;
    color: thistle;
}

#navbar ul{
    padding: 0;
    list-style: none;
    list-style: square;
}

#navbar li{
    display: inline;
}

#navbar a{
    color: salmon;
    text-decoration: none;
    font-size: 18px;
    padding-right: 15px;
}

.Container{
    width: 80%;
    margin: auto;
    overflow: hidden;
}

#main-header{
    background-color: seagreen;
    color: snow;
}


body{

    
    background-image: url(BR_2.jpg);
/*    background-size: cover;   */
    background-color: royalblue;
    background-position: top; /**/
    background-size: auto;   

    color: salmon;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 1.6em;
    margin: 0;
}

.wrapper .nested .image_1{
    align-self: center;


}

.wrapper .nested .image_1 img{
/*    
    height: 100;
    width: 100;

    border-radius: 50%;
*/
    display: block;
    margin-left: auto;
    margin-right: auto;

    rotate: 180deg;

}

.wrapper .nested .image_2 img{
    /*    
        height: 100;
        width: 100;
    
        border-radius: 50%;
    */
        display: block;
        margin-left: auto;
        margin-right: auto;
    
        rotate: 0deg;
    
    }

    .wrapper .nested .image_3 img{
        /*    
            height: 100;
            width: 100;
        
            border-radius: 50%;
        */
            display: block;
            margin-left: auto;
            margin-right: auto;
        
            rotate: 180deg;
        
        }


        .wrapper .nested_0 .image_1{
            align-self: center;

        
        }
        
        .wrapper .nested_0 .image_1 img{
        /*    
            height: 100;
            width: 100;
        
            border-radius: 50%;
        */
            display: block;
            margin-left: auto;
            margin-right: auto;
        
            /*rotate: 180deg;*/
        
        }
        
        .wrapper .nested_0 .image_2 img{
            /*    
                height: 100;
                width: 100;
            
                border-radius: 50%;
            */
                display: block;
                margin-left: auto;
                margin-right: auto;
            
            
            }
        
            .wrapper .nested_0 .image_3 img{
                /*    
                    height: 100;
                    width: 100;
                
                    border-radius: 50%;
                */
                    display: block;
                    margin-left: auto;
                    margin-right: auto;
                
                    /*rotate: 180deg;*/
                
                }


                #showcase{
                    background-image: url(BR_5.jpg);
                    background-position: center right;
                    min-height: 300px;
                    margin-bottom: 30px;
                    text-align: center;
                }
                
                #showcase h1{
                    color: black;
                    font-size: 27px;
                    line-height: 1.6em;
                    padding-top: 30px;
                }
